<template name="restaurateurs">

    {{#contentFor region="title"}}
        {{_ "RestaurateurTitle"}}
    {{/contentFor}}

    <a class="btn btn-primary" href="/addRestaurateurs">{{_ "AddRestaurateurTitle"}}</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{_ "NameTableHeader"}}</th>
            <th>{{_ "RestaurantTableHeader"}}</th>
            <th>{{_ "OptionsTableHeader"}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each restaurateurs}}
            <tr>
                <td>{{profile.fullName}}</td>
                <td>{{restaurant}}</td>
                <td>
                    <a class="btn btn-primary" href="/modifyRestaurateur/{{_id}}">{{_ "ModifyButtonLabel"}}</a>
                    <a class="btn btn-danger" data-action=deleteRestaurateur id="{{_id}}">{{_ "DeleteButtonLabel"}}</a>
                </td>
            </tr>
        {{/each}}
        </tbody>

    </table>
</template>