<template name="meals">
    {{#contentFor region="title"}}
        Meals
        <div class="pull-right">
            <a class="btn btn-success" href="/meals/add"><i class="fa fa-plus"></i> {{_ "NewMealTitle"}}</a>
        </div>
    {{/contentFor}}

    {{#if isEmpty}}
        <p class="alert alert-info">{{_ "EmptyMealMessage"}}</p>
    {{else}}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{_ "MealNameLabel"}}</th>
                <th>{{_ "MealPriceLabel"}}</th>
                <th>{{_ "MealDescription"}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each meals}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{description}}</td>
                    <td>
                        <a class="btn btn-warning" href="/meals/{{_id}}">{{_ "ShowButtonLabel"}}</a>
                        <a class="btn btn-primary" href="/meals/edit/{{_id}}">{{_ "ModifyButtonLabel"}}</a>
                        <a class="removeMeal btn btn-danger">{{_ "DeleteButtonLabel"}}</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
</template>