<template name="menus">
    {{#contentFor region="title"}}
        Menus
        {{#if isInRole 'restaurateur'}}
            <div class="pull-right">
                <a class="btn btn-success" href="/menus/add"><i class="fa fa-plus"></i> {{_ "NewMenuTitle"}}</a>
            </div>
        {{/if}}
    {{/contentFor}}

    {{#if isEmpty}}
        <p class="alert alert-info">{{_ "EmptyMenuMessage"}}</p>
    {{else}}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{_ "MenuNameLabel"}}</th>
                <td>
                    <a class="btn btn-warning" href="/menus/{{_id}}">{{_ "ShowButtonLabel"}}</a>
                    {{#if isInRole 'restaurateur'}}
                        <a class="btn btn-primary" href="/menus/edit/{{_id}}">{{_ "ModifyButtonLabel"}}</a>
                        <a class="removeMenu btn btn-danger">{{_ "DeleteButtonLabel"}}</a>
                    {{/if}}
                </td>
            </tr>
            </thead>
            <tbody>
            {{#each menus}}
                <tr>
                    <td>{{name}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
</template>