<template name="editAccount">
    {{#contentFor region="title"}}
        {{_ "EditAccount"}}
    {{/contentFor}}

            {{#autoForm schema="Schema.User" doc=user id="editAccountForm" type="method" meteormethod="editAccount"}}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{_ "ProfileHeading"}}
                    </div>
                    <div class="panel-body">
                        {{> afQuickField name="profile.fullName" readOnly=true}}
                        {{> afQuickField name="profile.birthday" readOnly=true}}
                        {{> afQuickField name="emails.0.address" readOnly=true}}
                        {{> afQuickField name="profile.address"}}
                        {{> afQuickField name="profile.phoneNumber"}}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{_ "SecurityHeading"}}
                    </div>
                    <div class="panel-body">
                        {{> afQuickField name="services.password" type="password"}}
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-success col-sm-2" type="submit" data-action=EditAccount>{{_ "Submit"}}</button>
                </div>
            {{/autoForm}}
</template>