<template name="home">
    {{#with user}}
    <div class="jumbotron">
        <h1>{{_ "WelcomeTextTitle"}} {{userName}} !</h1>
        <ul>
            <li>{{_ "EmailAddressLabel"}} : {{emails.[0].address}}</li>
            <li>{{_ "FullNameLabel"}} : {{profile.fullName}}</li>
            <li>{{_ "BirthdayLabel"}} : {{profile.birthday}}</li>
            <li>{{_ "AddressLabel"}} : {{profile.address}}</li>
            <li>{{_ "PhoneNumberLabel"}} : {{profile.phoneNumber}}</li>
        </ul>
        <p>{{_ "WelcomeText"}}</p>
    </div>
    {{/with}}
</template>