<template name="deliverys">
    {{#contentFor region="title"}}
        {{_ "DeliverysTitle"}}
    {{/contentFor}}

    <form id="newDelivery">
        <div class="form-group">
            <label for="emplacement">{{_ "LocationLabel"}}</label>

            <div id="locationField">
                <input class="form-control" id="autocomplete" placeholder="{{_ "EnterLocationPlaceholder"}}"
                       type="text">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{_ "StartButton"}}</button>
    </form>
</template>