<template name="deliverys">
    {{#contentFor region="title"}}
        {{_ "DeliverysTitle"}}
    {{/contentFor}}
    {{#if isEmpty}}
        <p class="alert alert-info">{{_ "EmptyDeliveryMessage"}}</p>
    {{else}}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{_ "DateTimeLabel"}}</th>
                <th>{{_ "DeliveryAddressLabel"}}</th>
                <th>{{_ "TotalHeader"}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each deliveries}}
                <tr>
                    <td>{{createdAt}}</td>
                    <td>{{deliveryAddress}}</td>
                    <td>{{total}} $</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
    <form id="newDelivery">
        <div class="form-group">
            <label for="emplacement">{{_ "LocationLabel"}}</label>

            <div id="locationField">
                <input class="form-control" id="autocomplete" placeholder="{{_ "EnterLocationPlaceholder"}}"
                       type="text">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{_ "StartButton"}}</button>
    </form>
</template>