<template name="basicLayout">
    <header>
        {{> header}}
    </header>

    <main class="container">

        <div class="row">
            <div class="col-sm-3">
                <!-- left -->
                <h3><i class="glyphicon glyphicon-briefcase"></i> {{_ "ToolboxTitle"}} </h3>
                <hr>
                <ul class="nav nav-stacked">
                    <li><a href="/"><i class="fa fa-home"></i> {{_ "HomeLink"}}</a></li>
                    <li><a href="/restaurants">Restaurants</a></li>
                </ul>
                <hr>
            </div>
            <div class="col-sm-9">
                <h3>{{>yield "title" }}</h3>
                <hr/>

                {{> yield}}
            </div>

        </div>
    </main>
</template>