<template name="restaurants">
    {{#contentFor region="title"}}
        Restaurants
        <div class="pull-right">
        <a class="btn btn-success" href="/restaurants/add"><i class="fa fa-plus"></i> {{_ "NewRestaurantTitle"}}</a>
    </div>
    {{/contentFor}}

    {{#if isEmpty}}
        <p class="alert alert-info">{{_ "EmptyRestaurantMessage"}}</p>
    {{else}}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{_ "RestaurantNameLabel"}}</th>
                <th>{{_ "RestaurantAddressLabel"}}</th>
                <th>{{_ "RestaurateurTitle"}}</th>
                <th>{{_ "OptionsTableHeader"}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each restaurants}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                    <td>{{restaurateurName}}</td>
                    <td>
                        <a class="btn btn-primary" href="/restaurants/edit/{{_id}}">{{_ "ModifyButtonLabel"}}</a>
                        <a class="removeRestaurant btn btn-danger">{{_ "DeleteButtonLabel"}}</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
</template>

