<template name="restaurants">
    {{#contentFor region="title"}}
        Restaurants
        <div class="pull-right">
            <a class="btn btn-success" href="/restaurants/add"><i class="fa fa-plus"></i> &nbsp; {{_ "NewRestaurantTitle"}}</a>
        </div>
    {{/contentFor}}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {{#each restaurants}}
                <tr>
                    <td>{{name}}</td>
                </tr>
        {{/each}}
        </tbody>
    </table>
</template>