<template name="header">
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-toggle"></span>
                </button>
                <a class="navbar-brand" href="/">{{_ "AppName"}}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- langues -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            {{currentLanguage}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            {{# each languages}}
                            <li class="{{active}}" role="presentation">
                                <a id="{{id}}" role="menuitem" href="#" class="languageSelect">{{value}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <!-- profile -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-user"></i> {{userName}} <span class="caret"></span></a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/editAccount">{{_ "EditAccount"}}</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" data-action="SignOut">{{_ "SignOut"}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /container -->
    </div>
</template>