<template name="addRestaurateurs">
    {{#contentFor region="title"}}
        {{_ "AddRestaurateurTitle"}}
    {{/contentFor}}

    <form id="addRestaurateur">
        <div class="form-group">
            <label for="email">{{_ "EmailAddressLabel"}}</label>
            <input class="form-control" type="email" id="email" placeholder="{{_ "EmailAddressLabel"}}" required>
        </div>
        <div class="form-group">
            <label for="password">{{_ "PasswordLabel"}}</label>
            <input class="form-control" type="password" id="password" placeholder="{{_ "PasswordLabel"}}" required>
        </div>
        <div class="form-group">
            <label for="fullName">{{_ "FullNameLabel"}}</label>
            <input class="form-control" type="text" id="fullName" placeholder="{{_ "FullNameLabel"}}" required>
        </div>
        <div class="form-group">
            <label for="birthday">{{_ "BirthdayLabel"}}</label>
            <input class="form-control" type="date" id="birthday" required>
        </div>
        <div class="form-group">
            <label for="address">{{_ "AddressLabel"}}</label>
            <input class="form-control" type="text" id="address" placeholder="{{_ "AddressLabel"}}" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber">{{_ "PhoneNumberLabel"}}</label>
            <input class="form-control" type="tel" id="phoneNumber" placeholder="{{_ "PhoneNumberLabel"}}" required>
        </div>

        <div class="form-group">
            <label for="restaurant">{{_ "RestaurantLabel"}}</label>
            <select id="restaurant" class="form-control">
                <option id="none">{{_ "SelectARestaurantLabel"}}</option>
                {{#each restaurants}}
                    <option id={{_id}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">{{_ "SubmitButtonLabel"}}</button>
    </form>
</template>