<template name="addCommand">
    {{#contentFor region="title"}}
        {{_ "NewCommandTitle"}}
    {{/contentFor}}
    <div class="content"></div>

</template>

<template name="addCommandRestaurants">
    {{#if isEmpty}}
        <p class="alert alert-info">{{_ "EmptyRestaurantMessage"}}</p>
    {{else}}
        <h4>{{_ "RestaurantsTitle"}}</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{_ "RestaurantNameLabel"}}</th>
                <th>{{_ "RestaurantAddressLabel"}}</th>
                <th>{{_ "OptionsTableHeader"}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each restaurants}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                    <td>
                        <a class="btn btn-warning" href="/commands/add/{{_id}}">{{_ "SelectButton"}}</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
</template>

<template name="addCommandMenus">
    <form id="command">
        <table>
            <thead>
            <tr class="row">
                <th class="col-sm-3">{{_ "NameLabel"}}</th>
                <th class="col-sm-3">{{_ "PriceLabel"}}</th>
                <th class="col-sm-4">{{_ "DescriptionLabel"}}</th>
                <th class="col-sm-2">{{_ "QuantityLabel"}}</th>
            </tr>
            </thead>
        </table>
        <hr>
        <input type="hidden" name="restaurantId" value="{{restaurantId}}">
        {{#each meals}}
            <div class="row well">
                <div class="col-sm-3">
                    {{ name }}
                </div>
                <div class="col-sm-3">
                    {{ price }}
                </div>
                <div class="col-sm-4">
                    {{ description }}
                </div>
                <div class="col-sm-2">
                    <input type="number" name="{{index}}" class="form-control" value="0" min="0">
                </div>
            </div>
        {{/each}}
        <button type="submit" class="btn btn-primary">{{_ "CompleteCommandButton"}}</button>
    </form>
</template>

<template name="completeCommand">
    {{#contentFor region="title"}}
        {{_ "NewCommandTitle"}}
        <div class="pull-right">Total : {{totalPrice}} $</div>
    {{/contentFor}}
    <div class="row well">
        <h2></h2>
        {{#each selectedMeals}}
            <div class="col-sm-6">
                {{_ "MealLabel"}} : {{ meal.name }}
            </div>
            <div class="col-sm-6">
                {{_ "QuantityLabel"}} : {{ quantity }}
            </div>
        {{/each}}
    </div>
    {{# autoForm collection="Commands" id="addCommandForm" type="normal"}}
        {{> afQuickField name="client" type="hidden" value=clientId}}
        {{> afQuickField name="restaurant" type="hidden" value=restaurantId}}
        {{> afQuickField name="dateTime"}}
        {{> afQuickField name="deliveryAddress" value=selectedAddress}}
        {{_ "AvailableAddressLabel"}} :<select id="addressSelection">
        {{#each clientAddresses}}
            <option>{{this}}</option>
        {{/each}}
    </select>
        <button type="button" class="btn btn-default" data-action=changeAddress>{{_ "ChangeAddressButton"}}</button>
        <br>
        <hr>
        <label for="">Card number</label>
        <input type="number" class="form-control" max="16" placeholder="4530 5555 5555 5555" name="cardNumber"/>
        <label for="">Type</label>
        <br/>
        <select name="typeCard" id="">
            <option value="visa">Visa</option>
            <option value="mc">Mastercard</option>
        </select>
        <br/>
        <label for="">CVC</label>
        <input type="number" name="cvc" class="form-control" min="3" max="3" placeholder="123"/>
        <hr/>
        <button type="submit" class="btn btn-primary"><i class="fa fa-paypal"></i> &nbsp; {{_ "PayPaypalCommand"}}</button>
    {{/autoForm}}
</template>
