<template name="commands">
    {{#contentFor region="title"}}
        {{_ "CommandsTitle"}}
        {{#if isInRole 'client'}}
            <div class="pull-right">
                <a class="btn btn-success" href="/commands/add"><i class="fa fa-plus"></i> {{_ "PassCommandLabel"}}</a>
            </div>
        {{/if}}
    {{/contentFor}}

    {{#if isEmpty}}
        <p class="alert alert-info">{{_ "EmptyCommandMessage"}}</p>
    {{else}}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{_ "DateTimeLabel"}}</th>
                <th>{{_ "DeliveryAddressLabel"}}</th>
                <th>{{_ "TotalHeader"}}</th>
                <th>{{_ "PaypalConfirmation"}}</th>
                <th>{{_ "StatusHeader"}}</th>
                {{#if isInRole "restaurateur"}}
                    <th>{{_ "OptionsHeader"}}</th>
                {{/if}}
            </tr>
            </thead>
            <tbody>
            {{#each commands}}
                <tr>
                    <td>{{dateTime}}</td>
                    <td>{{deliveryAddress}}</td>
                    <td>{{total}} $</td>
                    <td>{{paypalConfirmationNb}}</td>
                    <td>{{status}}</td>
                    {{#if isInRole "restaurateur"}}
                        {{#if $eq status "Not Ready"}}
                            <button class="btn btn-warning"
                                    data-action=PrepareCommand>{{_ "PrepareCommandButton"}}</button>
                        {{/if}}
                        {{#if $eq status "In Process"}}
                            <button class="btn btn-success"
                                    data-action=FinishCommand>{{_ "FinishCommandButton"}}</button>
                        {{/if}}
                        {{#if $eq status "Ready"}}
                            {{_ "NoActionsRequired"}}
                        {{/if}}
                    {{/if}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
</template>