<template name="commands">
    {{#contentFor region="title"}}
        {{_ "CommandsTitle"}}
        <div class="pull-right">
            <a class="btn btn-success" href="/commands/add"><i class="fa fa-plus"></i> {{_ "PassCommandLabel"}}</a>
        </div>
    {{/contentFor}}

    {{#if isEmpty}}
        <p class="alert alert-info">{{_ "EmptyCommandMessage"}}</p>
    {{else}}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{_ "DateTimeLabel"}}</th>
                <th>{{_ "DeliveryAddressLabel"}}</th>
                <th>Total</th>
                <th>{{_ "PaypalConfirmation"}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each commands}}
                <tr>
                    <td>{{dateTime}}</td>
                    <td>{{deliveryAddress}}</td>
                    <td>{{total}} $</td>
                    <td>{{paypalConfirmationNb}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
</template>