<template name="modifyRestaurateur">
    {{#contentFor region="title"}}
        {{_ "ModifyRestaurateurTitle"}}
    {{/contentFor}}
    {{#autoForm schema="Schema.User" doc=restaurateur id="modifyRestaurateur" type="normal"}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{_ "ProfileHeading"}}
            </div>
            <div class="panel-body">
                {{> afQuickField name="emails.0.address" readOnly=true}}
                {{> afQuickField name="profile.fullName" }}
                {{> afQuickField name="profile.birthday" }}
                {{> afQuickField name="profile.address"}}
                {{> afQuickField name="profile.phoneNumber"}}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{_ "SecurityHeading"}}
            </div>
            <div class="panel-body">
                {{> afQuickField name="services.password" type="password" value=""}}
            </div>
        </div>
        <div class="form-group">
            <label for="restaurant">{{_ "RestaurantLabel"}}</label>
            <select id="restaurant" class="form-control">
                <option id="none">{{_ "SelectARestaurantLabel"}}</option>
                {{#each restaurants}}
                    <option id={{_id}} {{assignedRestaurant _id}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-success col-sm-2" type="submit" data-action=addRestaurateur>{{_ "Submit"}}</button>
        </div>
    {{/autoForm}}
</template>