<template name="showMenu">
    {{#contentFor region="title"}}
        Menu
    {{/contentFor}}

    {{#if isEmpty}}
        <p class="alert alert-info">{{_ "EmptyMenuMessage"}}</p>
        <a class="btn btn-success" href="/menus/{{restaurantId}}/add"><i class="fa fa-plus"></i> {{_ "NewMenuTitle"}}</a>
    {{else}}
        {{#contentFor region="title"}}
            {{_ "MealTitleHome"}}  <strong> {{mealName}} </strong>
        {{/contentFor}}

        <table>
            <thead>
                <tr class="row">
                    <th class="col-sm-3">{{_ "MealNameLabel"}}</th>
                    <th class="col-sm-3">{{_ "MealPriceLabel"}}</th>
                    <th class="col-sm-6">{{_ "MealDescriptionLabel"}}</th>
                </tr>
            </thead>
        </table>
        <hr>

        {{#each meals}}
            <div class="row well">
                <div class="col-sm-3">
                    {{ name }}
                </div>
                <div class="col-sm-3">
                    {{ price }} $
                </div>
                <div class="col-sm-6">
                    {{ description }}
                </div>
            </div>
        {{/each}}
    {{/if}}
</template>